* {
    box-sizing: border-box;
  }

header {
    display: flex;
    justify-content: center;
}
  h1 {
    text-align: center;
    border: 5px salmon inset;
    width: 300px;
  }
  
  .style {
      background-color: red;
    }
    
    #second-wrapper {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      width: 800px;
      
      
      
    }
  
  
   
     #wrapper1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width:  480px;
      height: 480px;
      padding: 0;
      margin: 0;
      border: 1px solid black;
      justify-content: center;
      align-content: center;
      
      
      
     }
    
    
  
    .child8{
      
      
      width: calc(100% / 8);
      height: calc(100% / 8);
      border: 1px grey solid;
      
      
    }
    
    .child16{
      
      width: calc(100% / 16);
      height: calc(100% / 16);
      border: 1px solid black;
      
      
    }
  
    
    .child32{
      
      
      width: calc(100% / 32);
      height: calc(100% / 32);
      border: 1px solid black;
      
      
    }
  
    
    .child64{
      
      
      width: calc(100% / 64);
      height: calc(100% / 64);
      border: 1px solid black;
      
      
    }
  
    
    button {
     
      margin: 1rem;
      width: 75px;
      height: 30px;
      font-size: 16px;
      font-family:cursive;
      font-weight: bold;
    }
  
  .main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }
  

  form {
    
    font-size: 16px;
    font-family:cursive;
    font-weight: bold;
    display:inline;
  }
  
  